config.py
Linux/
Windows/
ver.dat
mols/
uploads/
dist/
# *.xlsx
*.sdf
*.mol
error_msg.txt
log_assayLoader.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Excluded Files
nohup.out
frontend/export_tubeids.txt
backend/R/.Rhistory
frontend/Sample_data/test.txt
*.png
tools/doseResponse/txt/prepared_plate_to_file.xlsx
tools/doseResponse/txt/PLATEMAP.xlsx
tools/doseResponse/PLATEMAP.xlsx
tools/doseResponse/DR_Excel.xlsx
tools/doseResponse/DR_Excel.xlsx
tools/doseResponse/preparedHaronyFiles/PLATEMAP.xlsx
tools/doseResponse/prepared_plate_to_file.xlsx
*.xlsx
*.xlsx
*.xlsx
tools/doseResponse/preparedHaronyFiles/PLATEMAP.xlsx
*.xlsx
tools/doseResponse/preparedHaronyFiles/prepared_plate_to_file.xlsx
tools/doseResponse/preparedHaronyFiles/PLATEMAP.xlsx
tools/doseResponse/preparedHaronyFiles/prepared_plate_to_file.xlsx
